.gradle/
.idea/
myDB/
myDBTeamL/MasterDB
MasterDB
ServiceRequestDB
GiftRequestDB
gargoyle_food_request_db/
TempOutput.jpg
EMode.jpg
DBInput.jpg
classes/
build/
out/
gradlew
gradlew.bat
derby.log
*.class
*.jar
*.lock
*.iml
*.pdf

/target/
.idea
*.iml
.project
*.prefs
CalendarFXApp/.classpath
*.classpath
