.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #012d5a;
    /*
    -fx-text-fill: #f5d96b ;
     */
}

.button:hover .glyph-icon{
    -fx-fill: #012d5a;
    /*
    -fx-fill:  #f5d96b;
     */
}