

.jfx-text-field {
    -fx-prompt-text-size: 12;
    -fx-font-size: 12;
}

.jfx-text-area {
    -fx-prompt-text-size: 12;
    -fx-font-size: 12;
}

.jfx-combobox {
    -fx-prompt-text-size: 12;
    -fx-font-size: 12;
}

.jfx-combobox .text-field {
    -fx-prompt-text-size: 12;
    -fx-font-size: 12;
}

