

.jfx-text-field {
    -fx-prompt-text-size: 12;
    -fx-font-size: 12;
}

.jfx-text-area {
    -fx-prompt-text-size: 12;
    -fx-font-size: 12;
}

.jfx-combo-box {
    -fx-background-color: WHITE;
    -fx-font-size : 15 pt;
    -fx-font-color : BLACK;
    -fx-prompt-text-fill: BLACK;
    -fx-border-color: WHITE;
}

.polygon:hover{
    -fx-opacity: 1;
    -fx-background-color: black;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #012D5A;
}