
.vboxImage {
    -fx-background-image: url("SoftEng_UI_Mockup_Pics/otherBackground.jpg");
    -fx-background-size: cover;
    -fx-opacity: .20;
}

.vboxHomeImage {
    -fx-background-image: url("SoftEng_UI_Mockup_Pics/HomeBackground.jpg");
    -fx-background-size: cover;
    -fx-opacity: .20;
}

.vboxPathImage {
    -fx-background-image: url("SoftEng_UI_Mockup_Pics/pathfindBackground.jpg");
    -fx-background-size: cover;
    -fx-opacity: .17;
}

.vboxPopup {
    -fx-background-image: url("SoftEng_UI_Mockup_Pics/popup.jpg");
    -fx-background-size: cover;
    -fx-opacity: .20;
}

.buttonMain{
    -fx-background-color: white;
    -fx-border-color: #012d5a;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-text-fill: #012d5a;
    -fx-background-radius: 15;
    -jfx-button-type: RAISED;

}

.buttonMain .glyph-icon {
    -fx-fill: #012d5a;
}

.buttonMain:hover{
    -fx-background-color: #012d5a;
    -fx-text-fill: white;

}

.buttonMain:hover .glyph-icon{
    -fx-fill: white;
}


.buttonLogIn{
    -fx-background-color: white;
    -fx-border-color: #F5D96B;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-text-fill: #012d5a;
    -fx-background-radius: 15;
    -jfx-button-type: RAISED;

}

.buttonLogIn .glyph-icon {
    -fx-fill: #012d5a;
}

.buttonLogIn:hover{
    -fx-background-color: #012d5a;
    -fx-text-fill: white;

}

.buttonLogIn:hover .glyph-icon{
    -fx-fill: white;
}


.buttonMainNoB{
    -fx-background-color: white;
    -fx-border-color: #F5D96B;
    -fx-border-radius: 10;
    -fx-border-width: 4;
    -fx-text-fill: #012d5a;
    -fx-background-radius: 15;
    -jfx-button-type: RAISED;
}

.buttonMainNoB:hover{
    -fx-background-color: #012d5a;
    -fx-text-fill: white;

}

.buttonBig{
    -fx-background-color: transparent;
    -fx-border-color: #F5D96B;
    -fx-border-radius: 10;
    -fx-border-width: 4;
    -fx-text-fill: white;
    -fx-background-radius: 15;

}

.buttonBig .glyph-icon {
    -fx-fill: white;
}

.buttonBig:hover{
    -fx-background-color: white;
    -fx-text-fill: #012d5a;

}

.buttonBig:hover .glyph-icon{
    -fx-fill: #012d5a;
}

.buttonHome{
    -fx-background-color: transparent;
    /*-fx-border-color: #F5D96B;*/
    -fx-text-fill: white;
    -fx-background-radius: 10;
   /* -fx-border-color : #F5D96B;
    /*-fx-border-radius: 10;
    -fx-border-width: 2;*/

}

.buttonHome .glyph-icon {
    -fx-fill: white;
}

.buttonHome:hover{
    -fx-background-color: white;
    -fx-text-fill: #012d5a;

}

.buttonHome:hover .glyph-icon{
    -fx-fill: #012d5a;
}

.buttonToolbar{
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color : #012D5A;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-pref-height: 75;
    -fx-pref-width: 110;
    -jfx-button-type: RAISED;
}

.buttonToolbar:hover{
    -fx-background-color: #012d5a;
    -fx-text-fill: white;

}

.buttonToolbar:hover .glyph-icon{
    -fx-fill: white;
}

.buttonMap{
    -fx-background-radius: 15;
    -fx-border-color : #012D5A;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-pref-height: 46;
    -fx-text-fill:  #012d5a ;

    -jfx-button-type: RAISED;
}

.buttonMap:hover{
    -fx-background-color: #012d5a;
    -fx-text-fill: white;

}

.buttonMap:hover .glyph-icon{
    -fx-fill: white;
}

.tool-barMain {
    -fx-background-color: white;
}

.tool-barSecondary {
    -fx-background-color: #F5D96B;
}

.vboxMapOutline {
    -fx-background-color: #F5D96B;
}

.vboxTextfieldOutline {
    -fx-border-color: #F5D96B;
}

.radio-button {
    -jfx-selected-color:  #f5d96b;

    -jfx-unselected-color: #012d5a;
    -fx-text-fill: #012d5a;
}

.radio-buttonDJ{
    -jfx-selected-color:  #f5d96b;
    -jfx-unselected-color: white;
    -fx-text-fill: white;
}

.labelTitle {
    -fx-text-fill: #f5d96b;

}
.labelPopupTitle {
    -fx-text-fill: #012d5a;
}

.labelPopupDesc {
    -fx-text-fill: white;
}

.labelMapFloor {
    -fx-text-fill: #012d5a;

}

.AnchorPainMain{
    -fx-background-color: #012d5a;

}

.text-area{
    -fx-text-fill: white;

}

.jfx-tree-table-view {
    -fx-border-color: #f5d96b ;
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-radius: 20;
    -fx-font-size: 15;
    -fx-font-family: "Trebuchet MS";

}


.jfx-tab-pane .headers-region {
    -fx-background-color: #f5d96b;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #f5d96b;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
    -fx-font-family: "Trebuchet MS";

}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
}

.tab:hover{
    -fx-background-color: #f1cc39;;
    -fx-background-radius: 1000000;
    -fx-text-fill: BLACK;
    /*
    -fx-text-fill: #f5d96b ;
     */
}
.jfx-tab-pane .tab:selected {
    -fx-background-color: #efc318;
    -fx-background-radius: 1000000;
}
.tab:hover .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
    -fx-font-family: "Trebuchet MS";
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: f1cc39;
}

.labelWelcome{
    -fx-text-fill: #F5D96B;
}

.buttonDJ{
    -fx-border-color: #F5D96B;
    -fx-background-color: #012d5a;
    -fx-text-fill: white;
}

.buttonDJ .glyph-icon {
    -fx-fill: white;
}

.buttonDJ:hover {
    -fx-background-color: white;
    -fx-text-fill: #012d5a;
}

.buttonDJ:hover .glyph-icon{
    -fx-fill: #012d5a;
}

.jfx-text-field-twitter {
    -fx-background-color: white;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;

    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

.jfx-text-field-normal {
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color: #012d5a;
    -jfx-unfocus-color: #012d5a;
}

.jfx-text-field-popup {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
}

.jfx-text-field-servicerequest {
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color: #012d5a;
    -jfx-unfocus-color: #012d5a;
}

/*.jfx-text-field-normal .input-line {
    -fx-background-size: 4;
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color: #012d5a;
    -jfx-unfocus-color: #012d5a;
}*/

.jfx-text-field-login{
    -fx-background-color: white;
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: transparent;


}

.password-field-login{
    -fx-background-color: white;
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: transparent
}

.jfx-text-areaServiceRequest {
    -fx-background-color: white;
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-background-radius: 15;
    -fx-border-color: #f5d96b;
    -fx-border-width: 4;
    -fx-border-radius: 10;

}

.jfx-text-areaSuggestionTable {
    -fx-text-fill: #012d5a;
    -fx-prompt-text-fill: #012d5a;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-border-color: #f5d96b;
    -fx-border-radius: 20;
    -fx-background-radius: 25;
    -fx-background-color: white;
    -fx-border-width: 4;


}

.jfx-combo-box {
    -fx-font-size : 20 pt;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill : #012d5a;
    -jfx-focus-color: #012d5a;
    -jfx-unfocus-color: #012d5a;
    -fx-prompt-text-fill: #012d5a;


}

.jfx-combo-box .text-field {
    -fx-text-fill : #012d5a;


}

.jfx-combo-box .text-area {
    -fx-text-fill : #012d5a;


}

.jfx-combo-box .list-view .list-cell {
    -fx-text-fill : black;

}

.jfx-combo-box .list-cell {
    -fx-text-fill : #012d5a;

}

.jfx-combo-box .arrow {
    -fx-background-color: #012d5a;
}

.jfx-combo-box-Popup {
    -fx-font-size : 15 pt;
    -fx-text-fill : white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -fx-prompt-text-fill: white;

}

.jfx-combo-box-Popup .text-field {
    -fx-text-fill : white;

}

.jfx-combo-box-Popup .text-area {
    -fx-text-fill : white;

}

.jfx-combo-box-Popup .list-view .list-cell {
    -fx-text-fill : black;
}

.jfx-combo-box-Popup .list-cell {
    -fx-text-fill : white;
}

.jfx-combo-box-Popup .arrow {
    -fx-background-color: #f5d96b;
}


.jfx-combo-box-PathMenu {
    -fx-font-size : 15 pt;
    -fx-text-fill : white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -fx-prompt-text-fill: white;

}

.jfx-combo-box-PathMenu .text-field {
    -fx-text-fill : white;

}

.jfx-combo-box-PathMenu .text-area {
    -fx-text-fill : white;

}

.jfx-combo-box-PathMenu .list-view .list-cell {
    -fx-text-fill : black;
}

.jfx-combo-box-PathMenu .list-cell {
    -fx-text-fill : white;
}

.jfx-combo-box-PathMenu .arrow {
    -fx-background-color: #f5d96b;
}

.jfx-combo-box-PathMenu2 {
    -fx-font-size : 12 pt;
    -fx-text-fill : white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -fx-prompt-text-fill: white;

}

.jfx-combo-box-PathMenu2 .text-field {
    -fx-text-fill : white;

}

.jfx-combo-box-PathMenu2 .text-area {
    -fx-text-fill : white;

}

.jfx-combo-box-PathMenu2 .list-view .list-cell {
    -fx-text-fill : black;
}

.jfx-combo-box-PathMenu2 .list-cell {
    -fx-text-fill : white;
}

.jfx-combo-box-PathMenu2 .arrow {
    -fx-background-color: #f5d96b;
}

.toggle-button {
    -fx-text-fill: white;

}


.jfx-date-picker{
    -fx-font-size: 20 pt;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -jfx-default-color: #f5d96b;
}

.jfx-date-picker .text-field{
    -fx-font-size: 20 pt;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -jfx-default-color: #f5d96b;
}
.jfx-date-picker .input-line {
    -fx-background-color: white;
}
.jfx-date-picker .input-focused-line {
    -fx-background-color: #f5d96b;
}

.jfx-time-picker{
    -fx-font-size: 20 pt;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -jfx-default-color: #f5d96b;

}

.jfx-time-picker .text-field{
    -fx-font-size: 20 pt;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: #f5d96b;
    -jfx-unfocus-color: white;
    -jfx-default-color: #f5d96b;

}

.jfx-time-picker .input-line {
    -fx-background-color: white;
}
.jfx-time-picker .input-focused-line {
    -fx-background-color: #f5d96b;
}

.jfx-password-fieldEdit{
    -fx-prompt-text-fill: #012d5a;
    -fx-text-fill: #012d5a;
    -jfx-focus-color :#f5d96b;
    -jfx-unfocus-color: #012d5a;
}

.buttonSecurity1{
    -fx-border-color: green;
    -fx-text-fill: white;

}

.buttonSecurity1:hover{
    -fx-border-color: white;
    -fx-background-color: green;
    -fx-text-fill: #012d5a;

}

.buttonSecurity2{
    -fx-border-color: #ccff00;
    -fx-text-fill: white;

}

.buttonSecurity2:hover{
    -fx-border-color: white;
    -fx-background-color: #ccff00;
    -fx-text-fill: #012d5a;

}

.buttonSecurity3{
    -fx-border-color: #ffb300;
    -fx-text-fill: white;

}

.buttonSecurity3:hover{
    -fx-border-color: white;
    -fx-background-color: #ffb300;
    -fx-text-fill: #012d5a;

}

.buttonSecurity4{
    -fx-border-color: #ff7700;
    -fx-text-fill: white;

}

.buttonSecurity4:hover{
    -fx-border-color: white;
    -fx-background-color: #ff7700;
    -fx-text-fill: #012d5a;

}

.buttonSecurity5{
    -fx-border-color: #ff1100;
    -fx-text-fill: white;

}

.buttonSecurity5:hover{
    -fx-border-color: white;
    -fx-background-color:  #ff1100;
    -fx-text-fill: #012d5a;

}
