

.jfx-text-field {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}

.jfx-text-area {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}

.jfx-combobox {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}

.jfx-combobox .text-field {
    -fx-font-size: 15;
    -fx-text-fill: WHITE;
}