.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #012d5a;
    /*
    -fx-text-fill: #f5d96b ;
     */
}

.button:hover .glyph-icon{
    -fx-fill: white;
    /*
    -fx-fill:  #f5d96b;
     */
}

.button {
    -fx-background-color: #012d5a;
    -fx-text-fill: WHITE;
}

.button .glyph-icon{
    -fx-fill: #012d5a;
}