.jfx-text-area {
    -fx-text-fill: WHITE;
}
.jfx-combo-box .prompt-text {
    -fx-font-size: 12;
    -fx-text-fill: WHITE;
    -fx-background-color: white
}

.jfx-combo-box {
    -fx-background-color: white;
    -fx-font-size : 13 pt;
    -webkit-fx-font-color : black
}

.jfx-combo-box .text-field  {
    -fx-font-size: 15;
    -fx-text-fill: WHITE;
}

.jfx-text-field {
    -fx-font-size: 15;
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: GRAY;
}

.button:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
    /*
    -fx-text-fill: #f5d96b ;
     */
}

.button:hover .glyph-icon{
    -fx-fill: white;
    /*
    -fx-fill:  #f5d96b;
     */
}

.radio-button .radio {

    -fx-border-radius: 4px;

}