.jfx-text-area {
    -fx-text-fill: WHITE;
}
.jfx-combo-box .prompt-text {
    -fx-font-size: 12;
    -fx-text-fill: WHITE;
    -fx-background-color: white
}

.jfx-combo-box {
    -fx-background-color: white;
    -fx-font-size : 13 pt;
    -webkit-fx-font-color : black
}

.jfx-combo-box .text-field {
    -fx-font-size: 15;
    -fx-text-fill: WHITE;
}