.jfx-combo-box .prompt-text {
    -fx-font-size: 15;
}
.jfx-time-picker .text-field {
    -fx-font-size : 20 pt;
}

.jfx-date-picker .text-field {
    -fx-font-size : 20 pt;
}

.jfx-text-field .prompt-text {
    -fx-font-color : WHITE;
}
.jfx-text-field .text-field {
    -fx-font-color : WHITE;
}